[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
langchain-openai = "*"
langchain-anthropic = "*"
langchain-groq = "*"
langgraph = "*"
scholarly = "*"
pandas = "*"
ollama = "*"
langchain-ollama = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
